body {
  background-image: url(Images/mountain.jpg);
}
/* Title */
hr {
  border: 2px solid white;
  color: white;
  animation-delay: 0.95s;
}
.title-content {
  margin: 0 15vw 0 15vw;
  width: 70vw;
  transition: 0s;
}
.title {
  margin-top: 8vh;
  position: relative;
  text-align: center;
  font-size: 6rem;
  font-family: 'POLYA';
  color: white;
  text-decoration: none;
  cursor: default;
}
