body {
  background-color: black;
}
/* Title */
hr {
  border: 2px solid white;
  color: white;
  animation-delay: 1s;
}
.front {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  background-image: url(Images/mountain-names.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.title-content {
  margin: 0 15vw 0 15vw;
  width: 70vw;
  transition: 0s;
}
.title {
  margin-top: 8vh;
  position: relative;
  text-align: center;
  font-size: 6.25rem;
  font-family: 'POLYA';
  color: white;
  text-decoration: none;
  cursor: default;
}
.scrlicon {
  margin: 50vh 48vw 0 48vw;
  width: 4vw;
  animation-delay: 1.8s;
}
/* Content! */
.halfcontent-bar1 {
  display: inline-block;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(Images/particles.jpg);
  overflow-y: hidden;
}
.bar-title {
  margin: 6vh 0 0 0;
  text-align: center;
  font-size: 5rem;
  font-family: 'POLYA';
  font-weight: 400;
  color: white;
}
.t1 {
  animation-delay: 2.1s;
}
.t2 {
  animation-delay: 2.9s;
}
.t3 {
  animation-delay: 3.7s;
}
.t4 {
  animation-delay: 4.9s;
}
span {
  font-weight: bold;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h1 {
    font-size: 3rem;
}
