body {
  background-image: url(Images/altmtn4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
hr {
  border: 2px solid white;
  margin: 0 20vw 0 20vw;
  animation-delay: 0.5s;
}
.om-title {
  margin: 0 10vw 0 10vw;
  text-align: center;
  color: white;
  font-size: 5.5rem;
  font-family: 'POLYA';
  font-weight: lighter;
}
.om-title2 {
  margin: 5vh 25vw 2vh 25vw;
  padding: 15px;
  width: 50vw;
  color: white;
  text-align: center;
  font-size: 6rem;
  font-family: 'POLYA';
  font-weight: 800;
  overflow-y: hidden;
  animation: donker 1.25s infinite;
}
@keyframes donker {
    50% {
      color: orange;
    }
}
/* Prelims for sections */
.sec-title {
  text-align: center;
  font-size: 5.5rem;
  font-family: 'POLYA';
}
.sec-info {
  font-family: 'Iceberg';
  text-align: center;
  font-size: 1.75rem;
}
/* sec 0 */
.sec-0 {
  margin: 55vh 0 0 0;
  height: 100vh;
  background-color: white;
}
.sec-title-0 {
  padding-top: 5vh;
}
.sec-list {
  font-family: 'Iceberg';
  font-size: 1.75rem;
  margin: 0 0 0 15vh;
}
/* sec 1 */
.sec-1 {
   margin: 0 0 0 0;
   height: 100vh;
   background-color: lightgrey;
}
.sec-title-1 {
  margin: 5vh 0 0 0;
}
.sec-info-1 {

}
.bitcoin-logo {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 5vh 0 0 8vw;
}
/* Biblio */
.sec-l {
  background-color: black;
  height: 100vh;
  color: white;
}
.sec-title-l {
  margin: 5vh 0 0 0;
}
.cit-1 {
  margin-top: 5vh;
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Iceberg';
}
