body {
  background: grey;
}
.om-title {
  margin: 0 10vw 0 10vw;
  text-align: center;
  color: white;
  font-size: 5.5rem;
  font-family: 'POLYA';
  font-weight: lighter;
}
.om-title2 {
  margin: 5vh 25vw 0 25vw;
  border: 5px solid white;
  border-radius: 5px;
  padding: 15px;
  width: 50vw;
  color: white;
  text-align: center;
  font-size: 6rem;
  font-family: 'POLYA';
  font-weight: 400;
  overflow: hidden;
}
.om-title2{
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    border: 5px solid black;
    color: black;
  }
}
