body {
  background-image: url(Images/sesseeds.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.pcollage-title {
  margin: 0 25vw 10vh 25vw;
  border: 5px solid white;
  border-radius: 15px;
  width: 50vw;
  padding: 5px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'POLYA';
  font-size: 6.25rem;
  font-weight: 400;
}
.top {
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  text-align:center;
  font-size:6em;
  }
.bottom {
  position: absolute;
  left:0;
  right:0;
  top: 150%;
  margin:auto;
  text-align:center;
  font-size:6em;
}
/* Images */
.imog {
  margin: 0 25vw 10vh 25vw;
  border: 10px solid black;
  border-radius: 30px;
  width: 50vw;
}
.link {
  margin-bottom: 10vh;
  font-size: 1.5rem;
  font-family: 'Iceberg';
  color: white;
  text-align: center;
}
