body {
  background-color: black;
  overflow-x: hidden;
}
.pcollage-title {
  margin: 0 25vw 0 25vw;
  border: 5px solid silver;
  border-radius: 15px;
  width: 50vw;
  padding: 5px;
  background-color: silver;
  color: white;
  text-align: center;
  font-family: 'POLYA';
  font-size: 6.25rem;
  font-weight: 400;
}
.top {
position: absolute;
left:0;
right:0;
margin:auto;
text-align:center;
font-size:6em;
}
.bottom {
position: absolute;
left:0;
right:0;
top: 150%;
margin:auto;
text-align:center;
font-size:6em;
}
