body {
  background-image: url(Images/sisterWatercolor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
hr {
  border: 2px solid white;
  margin: 1vh 13vw 0 13vw;
  animation-delay: 0.5s;
}
.refl-title {
  margin: 5vh 10vw 0 10vw;
  color: white;
  font-size: 5.5rem;
  font-family: 'POLYA';
  text-align: center;
}
.content {
  margin: 15vh 10vw 15vh 10vw;
  color: white;
  text-align: center;
  font-family: 'Iceberg';
}
.content h2 {
  font-size: 2.4rem;
  font-family: ;
}
.content p {
  font-size: 1.2rem;
}
.data {
  text-align: left;
  transition: visibility 0s, opacity 0.5s linear;
}
.datac {
  font-size: 1.2rem;
}
/* Arrow stuff */
.ddua {
  cursor: pointer;
}
.ddub {
  cursor: pointer;
}
.dduc {
 cursor: pointer;
}
.rotated {
  transform: rotate(180deg);
}
